// SETTINGS
@import 'settings/_settings.config';
@import '../../node_modules/inuitcss/settings/settings.core';
@import 'settings/_settings.global';
@import 'settings/_mq';
@import 'settings/_fonts.scss';

// TOOLS
@import '../../node_modules/inuitcss/tools/tools.font-size';
@import '../../node_modules/inuitcss/tools/tools.clearfix';
@import '../../node_modules/sass-mq/mq';
@import 'tools/tools.aliases';

// GENERIC
@import '../../node_modules/inuitcss/generic/generic.box-sizing';
@import '../../node_modules/inuitcss/generic/generic.normalize';
@import '../../node_modules/inuitcss/generic/generic.shared';
@import '../../node_modules/inuitcss/generic/generic.shared';

// ELEMENTS
@import '../../node_modules/inuitcss/elements/elements.page';
@import '../../node_modules/inuitcss/elements/elements.headings';
@import '../../node_modules/inuitcss/elements/elements.images';
@import '../../node_modules/inuitcss/elements/elements.tables';

@import 'elements/_var.scss';
@import 'elements/_ie.scss';
@import 'elements/_defaults.scss';
@import 'elements/_misc.scss';

// OBJECTS
//
@import 'objects/_row.scss';
// Uncomment and add to this section as necessary.
// @import "../../node_modules/objects/objects.wrapper";
// @import "../../node_modules/objects/objects.layout";
// @import "../../node_modules/objects/objects.media";
// @import "../../node_modules/objects/objects.flag";
// @import "../../node_modules/objects/objects.list-bare";
// @import "../../node_modules/objects/objects.list-inline";
// @import "../../node_modules/objects/objects.box";
// @import "../../node_modules/objects/objects.block";
// @import "../../node_modules/objects/objects.ratio";
// @import "../../node_modules/objects/objects.crop";
// @import "../../node_modules/objects/objects.table";
// @import "../../node_modules/objects/objects.pack";

// COMPONENTS
//
// Build and include your project’s UI components here.
//----------------------------------*\
// Components
//----------------------------------*/
@import 'components/_section.scss';
@import 'components/_button.scss';
@import 'components/_link.scss';


// PARTIALS
@import 'partials/_header.scss';
@import 'partials/_footer.scss';

// UTILITIES
// @import "utilities/utilities.clearfix";
@import 'utilities/_flex.scss';

// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending of the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
// $inuit-offsets: true;
// @import "utilities/utilities.widths";
// @import "utilities/utilities.headings";
// @import "utilities/utilities.spacings";
// @import "utilities/utilities.responsive-spacings";
// @import "utilities/utilities.print";
// @import "utilities/utilities.hide";

/* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/


body {
  background-color:#1d1d1d;
  font-family: "Signika Negative", sans-serif;
  color: #999;
  margin: 0;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: "Signika Negative", sans-serif;
  margin: 10px 0 10px 0;
  color: #f3f2ef;
  font-weight: 400;
}

h1 { 
  font-size:42px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:22px;
}

p{
  line-height:22px;
  margin-bottom:16px;  
}

a {
  color: #88ce02;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#demo {
  height:100%;
  position:relative;
}
.box {
  width:50px;
  height:50px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  line-height:50px;
  text-align:center;
  color:#333;
  
}

.green{
  background-color:#6fb936;
}

.orange {
  background-color:#f38630;
}
.gray,
.grey {
  background-color:#989898;
}

button {
  display:inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: #414141;
  background-image: -webkit-linear-gradient(top, #575757, #414141);
  background-image: -moz-linear-gradient(top, #575757, #414141);
  background-image: -ms-linear-gradient(top, #575757, #414141);
  background-image: -o-linear-gradient(top, #575757, #414141);
  background-image: linear-gradient(to bottom, #575757, #414141);
  text-shadow: 0px 1px 0px #414141;
  -webkit-box-shadow: 0px 1px 0px 414141;
  -moz-box-shadow: 0px 1px 0px 414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 12px 25px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
}

button:hover {
  background: #57a818;
  background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
  background-image: -moz-linear-gradient(top, #57a818, #4d9916);
  background-image: -ms-linear-gradient(top, #57a818, #4d9916);
  background-image: -o-linear-gradient(top, #57a818, #4d9916);
  background-image: linear-gradient(to bottom, #57a818, #4d9916);
  text-shadow: 0px 1px 0px #32610e;
  -webkit-box-shadow: 0px 1px 0px fefefe;
  -moz-box-shadow: 0px 1px 0px fefefe;
  box-shadow: 0px 1px 0px fefefe;
  color: #ffffff;
  text-decoration: none;
}

.brandBar {
  position:absolute;
  width:100%;
  height:40px;
  
  z-index:1000;
  line-height:40px;
  color:#ccc;
  padding-left:0px;
}

.nav{
  margin:20px 0;
}

.brandBar img{
  position:absolute;
  width:90px;
  right:20px;
  top:12px;
}

.wrapper {
  position:absolute;
  padding:20px;
}

